@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

a {
    color:#000;
    text-decoration:none;
}

.cr-container {
    width:500px;
    height: 501px;
    border:1px solid;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
    background:rgba(0,0,0,0.1);
    box-shadow:0px 0px 20px rgba(0,0,0,0.2);
    border-radius:10px;
    padding:10px;
}

.cr-title {
    font-family: 'Audiowide', cursive;
    border-bottom:1px solid;
}

.cr-userbox {
    border:1px solid rgba(0,0,0,0.5);
    position:relative;
    height:50px;
    margin-bottom:5px;
}

.userPic {
    position:absolute;
}

.userName {
    position:absolute;
    top: 13px;
    padding:0px;
    margin:0px;
    left:20px;
    font-family: 'Open Sans', sans-serif;
}

.logout {
    position:absolute;
    top: 13px;
    padding:0px;
    margin:0px;
    right:20px;
    font-family: 'Open Sans', sans-serif;;   
}

.cr-newclass {
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cr-newclassTextbox {
    float:left;
    height: 100%;
    width: 75%;
}

.cr-newclassButton {
    float: right;
    height: 100%;
    width: 25%;
}

.cr-classlist {
    border:1px solid;
    height:300px;
    overflow-x:hidden;
    overflow-y:auto;
    background: rgb(237, 237, 237);
}

.newClass {
    position:absolute;
    padding:13px;
    margin:0px;
    width:350px;
    font-size:20px;
    border:0px
}

/*#create {
    position:absolute;
    padding:13px;
    left:392px;
    width:117px;
    border:0px;
    background:green;
    color:#FFF;
    height:50px;
    cursor:pointer;
}
*/
.cr-classlist a {
    color:#000;
    text-decoration:none;
}

.classlist {
    list-style:none;
    padding:0px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}

.classlist li {
    padding:15px;
    border:1px solid rgba(0,0,0,0.1);
    background:#FFF;
}

.classlist li:hover {
    background: rgb(225, 212, 193);
}
